In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("dataset/pima indian daibetes.csv")

In [3]:
dataset.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [6]:
dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
dataset.shape

(768, 9)

In [7]:
from sklearn.model_selection import train_test_split

In [10]:
input_data=dataset.iloc[:,:-1]
output_data=dataset["Outcome"]

In [15]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [18]:
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
454,2,100,54,28,105,37.8,0.498,24
646,1,167,74,17,144,23.4,0.447,33
359,1,196,76,36,249,36.5,0.875,29
635,13,104,72,0,0,31.2,0.465,38
100,1,163,72,0,0,39.0,1.222,33
...,...,...,...,...,...,...,...,...
447,0,95,80,45,92,36.5,0.330,26
55,1,73,50,10,0,23.0,0.248,21
157,1,109,56,21,135,25.2,0.833,23
710,3,158,64,13,387,31.2,0.295,24
275,2,100,70,52,57,40.5,0.677,25

In [19]:
x_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
203,2,99,70,16,44,20.4,0.235,27
282,7,133,88,15,155,32.4,0.262,37
375,12,140,82,43,325,39.2,0.528,58
104,2,85,65,0,0,39.6,0.930,27
491,2,89,90,30,0,33.5,0.292,42
...,...,...,...,...,...,...,...,...
726,1,116,78,29,180,36.1,0.496,25
583,8,100,76,0,0,38.7,0.190,42
715,7,187,50,33,392,33.9,0.826,34
144,4,154,62,31,284,32.8,0.237,23
533,6,91,0,0,0,29.8,0.501,31

In [20]:
y_train

454    0
646    1
359    1
635    1
100    1
      ..
447    0
55     0
157    0
710    0
275    0
Name: Outcome, Length: 576, dtype: int64

In [21]:
y_test

203    0
282    0
375    1
104    0
491    0
      ..
726    0
583    0
715    1
144    0
533    0
Name: Outcome, Length: 192, dtype: int64

In [16]:
x_train.shape,y_train.shape

((576, 8), (576,))

In [17]:
x_test.shape,y_test.shape

((192, 8), (192,))